extends includes/about.pug


block content
  #page
    //- 关于页面的特定内容
    include includes/page/about.pug
    
    //- 评论功能
    if page.comments !== false && theme.comments.use
      !=partial('includes/third-party/comments/index', {}, {cache: true})