/* 在 source/css/custom-font.css 文件中 */
@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap; /* 这个属性可以确保文字在字体加载完成前正常显示，优化体验[citation:3] */
  /* src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype'); /* 请根据你的实际字体文件名和格式修改 */
  /* 如果你的字体文件有不同格式（如woff2），可以并列添加，浏览器会选择支持的格式 */
  /* src: url('/fonts/ibm-plex-mono/fonts/complete/IBMPlexMono-Regular.woff2') format('woff2'),
         url('/fonts/ibm-plex-mono/fonts/complete/ttf/IBMPlexMono-Regular.ttf') format('truetype'); */
  src: url('/fonts/ibm-plex-sans/fonts/complete/IBMPlexSans-Regular.woff2') format('woff2'),
         url('/fonts/ibm-plex-sans/fonts/complete/ttf/IBMPlexSans-Regular.ttf') format('truetype');
}